@inject IWebHostEnvironment Environment
@inherits MainLayoutPage


@using Youbiquitous.Renoir.AppBlazor.Common.UI
@using Microsoft.AspNetCore.Components.Authorization
@using Youbiquitous.Renoir.AppBlazor.Common.Extensions
@using Youbiquitous.Renoir.Resources

@{
    var left = $"<div class='lh-1'>{Settings.Project.Description}</div>" +
               $"<a class='text-sm text-decoration-none' href='/reportbug'><i class='me-1 fal fa-bug'></i>{AppMenu.BugReport}</a>";
}

<CascadingAuthenticationState>
    <PageTitle>@Settings.Project.Name</PageTitle>
    
    <div class="app-page-container">
        <div class="app-sidebar">
            <CascadingValue Value="this">
                <NavMenu Header="@Settings.Project.Name"
                         Items="@MenuFactory.ForRole(Logged.GetRole())" />
            </CascadingValue>
            <CopyrightNote 
                FirstLine="@Settings.Project.Copyright"
                SecondLine="@Settings.Project.Attribution" />
        </div>

        <div class="app-content-container">
            <TitleBar Left="@left"
                      LeftClass="fs-5 fw-bold lh-1"
                      Right="@Settings.Project.Version" 
                      RightClass="fw-bold" />
            <div class="px-3">
                @Body
            </div>
        </div>
    </div>
</CascadingAuthenticationState>