@inject IWebHostEnvironment Environment
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inherits MainLayoutPage


@using Youbiquitous.Renoir.AppBlazor.Common.UI
@using Microsoft.AspNetCore.Components.Authorization
@using Youbiquitous.Renoir.AppBlazor.Common.Extensions

@{
    var left = $"<div class='fw-bold'>Release Notes Instant Reporter</div><div class='lh-1 '>{Environment.EnvironmentName}</div>";
}

<CascadingAuthenticationState>
    <PageTitle>@Settings.Project.Name</PageTitle>
    
    <div class="app-page-container">
        <div class="app-sidebar">
            <CascadingValue Value="this">
                <NavMenu Header="@Settings.Project.Name"
                         Items="@MenuFactory.ForRole(Logged.GetRole())" />
            </CascadingValue>
            <CopyrightNote 
                FirstLine="@Settings.Project.Copyright"
                SecondLine="@Settings.Project.Attribution" />
        </div>

        <div class="app-content-container">
            <TitleBar Left="@left"
                      LeftClass="small opacity-50"
                      Right="@Settings.Project.Version" 
                      RightClass="fw-bold" />
            @Body
        </div>
    </div>
</CascadingAuthenticationState>