@page "/home"
@using Youbiquitous.Renoir.Resources
@inherits HomePage

<PageTitle>@AppMenu.Dashboard</PageTitle>

<div class="p-3">
    <div class="fs-2 mb-4 text-uppercase">@AppStrings.Label_Dashboard</div>

    <div class="d-flex">
        <div class="card text-white bg-primary mx-2"
             style="max-width: 15rem;"> 
            <div class="card-header text-uppercase">@AppStrings.Label_Products</div> 
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="" style="zoom: 4;">@Counters.TotalProducts</div>
                    <div class="ms-4 card-text small opacity-75">
                        @AppStrings.Label_Products_Desc
                    </div>
                </div>
            </div> 
            <a href="/products" class="stretched-link"></a>
        </div>
    
        <div class="card text-white bg-primary mx-2" 
             style="max-width: 15rem;"> 
            <div class="card-header text-uppercase">@AppStrings.Label_Users</div> 
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="" style="zoom: 4;">@Counters.TotalUsers</div>
                    <div class="ms-4 card-text small opacity-75">
                        @AppStrings.Label_Users_Desc
                    </div>
                </div>
            </div> 
            <a href="/users" class="stretched-link"></a>
        </div> 
    
        <div class="card bg-info mx-2"
             style="max-width: 15rem;"> 
            <div class="card-header text-uppercase">@AppStrings.Label_ReleaseNotes</div> 
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="" style="zoom: 4;">@Counters.TotalNotes</div>
                    <div class="ms-4 card-text small opacity-75">
                        @AppStrings.Label_ReleaseNotes_Desc
                    </div>
                </div>
            </div> 
            <a href="/myproducts" class="stretched-link"></a>
        </div> 
    
        <div class="card bg-info mx-2"
             style="max-width: 15rem;"> 
            <div class="card-header text-uppercase">@AppStrings.Label_Roadmaps</div> 
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="" style="zoom: 4;">@Counters.TotalRoadmaps</div>
                    <div class="ms-4 card-text small opacity-75">
                        @AppStrings.Label_Roadmaps_Desc
                    </div>
                </div>
            </div> 
            <a href="/myproducts" class="stretched-link"></a>
        </div> 
    </div>
</div>