
<a class="text-decoration-none" href="@Url" target="_blank">
    <div class="d-flex justify-content-between app-card @BodyClass"
         style="min-width: @(MinWidth)px">
     
   
        <div>
            <div class="@HeaderClass">@Header</div>
            <div class="@SubheaderClass">@Subheader</div>
        </div>
        <div class="@BadgeClass">@BadgeText</div>
    </div>
</a>

@code {

    protected override void OnInitialized()
    {
        MinWidth = 300;
    }

    [Parameter]
    public string Header { get; set; }

    [Parameter]
    public string HeaderClass { get; set; }

    [Parameter]
    public string Subheader { get; set; }

    [Parameter]
    public string SubheaderClass { get; set; }

    [Parameter]
    public string BadgeText { get; set; }

    [Parameter]
    public string BadgeClass { get; set; }

    [Parameter]
    public string BodyClass { get; set; }

    [Parameter]
    public int MinWidth { get; set; }

    [Parameter]
    public string Url { get; set; }

}